<%= form_with(model: @question, local: true) do |f|  %>
    
    <div class="form-group" >
        <% if @question.errors.present? %>
            <p class="form-errors">
                <%= @question.errors.full_messages.join(", ") %>
            </p>
        <% end %>
        
        <div>
            <%= f.label :body, class: "control-label" %>
            <%= f.text_area :body, class: "form-control" %>
        </div>

        <div>
            <%= f.label :points, class: "control-label" %>
            <%= f.text_field :points, class: "form-control" %>
        </div>
    </div>

    <%= f.submit "Submit Question", class: "btn btn-primary" %>

<% end %>