<div>
    <h3>Question: <%= @question.body%></h3>
    <Small>Points: <%= @question.points%></Small>

</div>

<div class="form-group">
    <% @answers.each do |answer| %>
        <%= form_with(model: [@question, answer], local: true) do |f|  %>
            <br>
            <div> 
                <%= f.text_field :answer_body, class: "form-control" %>
            </div>
            <br>
            <%= f.submit "Update answer",class: "btn btn-primary" %>
        <% end %>
    <% end %>
</div>

<%= link_to 'Go Back to Editing Quiz', edit_quiz_path(@quiz), class: "btn btn-primary"   %>