<h1><%= @quiz.name %></h1>

<%= form_tag("/results", method: "post") do %>

    <% @questions.shuffle.each do |question| %>

        <h5><%= @counter %> - <%= question.body %> </h5>

        <% question.answers.shuffle.map do |answer| %>
            <%= radio_button_tag("question#{question.id}", answer.id) %>&nbsp;<%= answer.answer_body %><br/>
        <% end %>
            

        <br />
        <% @counter=@counter+1 %>
    
    <% end %>

    <%= hidden_field_tag(:iteration, @counter-1) %>
    <%= hidden_field_tag(:quiz_id, @quiz.id) %>

    <%= submit_tag "Submit Quiz", class: "btn btn-primary" %>
<% end %>