<h1><%= @quiz.name %></h1>
<%= form_tag("/search", method: "post") do %>
    <% @questions.each do |question| %>
    <h5><%= @counter %> - <%= question.body %> </h5>
    <% question.answers.map do |answer| %>
        <%= radio_button_tag("answer".concat(@counter).to_sym, answer.answer_body) %>&nbsp;<%= answer.answer_body %><br/>
    <% end %>
    <br />
    <% @counter=@counter+1 %>
    <% end %>
    <%= hidden_field_tag(:iteration, @counter-1) %>
<% end %>