<!DOCTYPE html>
<html>
  <head>
    <title>Codeover - The programming quiz where your learn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body>
  <% if !current_page?('/') %>
    <nav class="navbar navbar-expand-md navbar-dark bg-custom" style="background-color :#ce0000;">
      <a class="navbar-brand" href="#"><img src="/images/codeover_invert.svg" width="250px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarsExample04" style="font-size:20px;">
      <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
        <li class="nav-item" style="color:#fff;margin-top:7px;margin-right:5px;">
        👩‍💻 Hello <%= current_user.first_name %>
        </li>
          <li class="nav-item">
            <%= link_to("Home", root_path, :class => "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("Create a Quiz",  new_quiz_path, :class => "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("Take a Quiz", quizzes_path, :class => "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("My Quizzes", quizzes_path(where_to: "My quizzes"), :class => "nav-link") %>
          </li>
          <%#<li class="nav-item" >%>
            <%#= link_to("Leaderboard", leaderboards_path, :class => "nav-link" ) %>
          <%#</li>%>
          <li class="nav-item">
          <%= link_to "Logout", session_path,
          method: :delete,
                  data: {confirm: "are you sure you want to log out?"}, :class => "nav-link" %>
          </li> 
        </ul>
      <% else %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <li class="nav-item">
            <%= link_to("Home", root_path, :class => "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("Sign in", new_session_path, :class => "nav-link") %>
          </li>
          <li class="nav-item">
            <%= link_to("Register", new_user_path, :class => "nav-link") %>
          </li>
        </li> 
      </ul>
      <% end %>
      </div>
    </nav>
    <% end %>
    <main class="container-fluid">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>" style="margin-top:10px;">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
